@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #171717;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.border-transparent{
  background-color: rgb(226 226 226);
}

/* Main Content Styles */
.mobile-overlay-transition {
  transition: opacity 300ms ease;
}

.sidebar-transition {
  transition: transform 300ms ease;
}

/* Modal Styles */
.modal-cancel-button {
  @apply px-4 py-2 rounded-md bg-gray-200 text-gray-700 hover:bg-gray-300;
}

.modal-confirm-button {
  @apply px-4 py-2 rounded-md bg-blue-600 text-white hover:bg-blue-700;
}

/* Subscription Page Styles */
.back-button {
  @apply flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border 
    border-gray-300 rounded-lg hover:bg-gray-50 focus:outline-none focus:ring-2 
    focus:ring-offset-2 focus:ring-blue-500 transition-colors duration-200;
}

/* Subscription Plan Styles */
.plan-card {
  @apply relative flex flex-col items-center p-6 rounded-2xl bg-white 
         hover:shadow-lg transition-all duration-300 h-full;
}

.plan-card-border-default {
  @apply border border-gray-200;
}

.plan-card-border-highlight {
  @apply border border-[#059669];
}

.plan-badge {
  @apply absolute -top-4 left-1/2 transform -translate-x-1/2;
}

.plan-badge-text {
  @apply px-4 py-1.5 bg-[#059669] text-white text-sm font-semibold rounded-full;
}

.plan-title {
  @apply text-2xl font-bold text-gray-900 mb-2;
}

.plan-price-container {
  @apply flex items-baseline mb-6 justify-center;
}

.plan-price {
  @apply text-4xl font-bold text-gray-900;
}

.plan-price-period {
  @apply text-lg text-gray-600 ml-1;
}

.subscription-details {
  @apply w-full p-4 mb-6 rounded-lg;
}

.subscription-details-downgrade {
  @apply bg-[rgb(206,47,6,0.06)];
}

.subscription-details-active {
  @apply bg-[rgb(5,150,105,0.06)];
}

.subscription-text-downgrade {
  @apply text-[rgb(206,47,6)] text-center text-sm;
}

.subscription-text-active {
  @apply text-[#059669] text-center text-sm;
}

.features-list {
  @apply space-y-4 mb-8 w-full;
}

.feature-item {
  @apply flex items-center;
}

.feature-check {
  @apply w-5 h-5 text-black mr-2 flex-shrink-0;
}

.feature-text {
  @apply text-sm text-gray-600;
}

.plan-button-container {
  @apply mt-auto w-full;
}

.downgrade-message {
  @apply mb-4 text-sm text-[rgb(206,47,6)] text-center;
}

.plan-button {
  @apply w-full py-3 rounded-lg text-sm font-semibold transition-all duration-300;
}

.plan-button-restore {
  @apply bg-[#059669] text-white hover:bg-[#047857];
}

.plan-button-current {
  @apply bg-gray-200 text-neutral-900;
}

.plan-button-pro {
  @apply bg-[#059669] text-white hover:bg-[#047857];
}

.plan-button-free {
  @apply bg-neutral-900 text-white hover:bg-neutral-800;
}